@import url('https://fonts.googleapis.com/css?family=Roboto:400,800');
$font-family-base: 'Roboto', sans-serif;
$s-primary: #5165ff;
$s-red: #f77;

.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
